*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    margin: auto;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   line-height: 2.3;
   background: linear-gradient(rgb(32, 99, 144),rgb(179, 196, 200),rgb(133, 114, 167));
}
#container{
    width: 35rem;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box,.active-box{
    background-color: rgb(41, 156, 156);
    width: 6rem;
    height: 6rem;
    margin: 0.5rem 1rem;
    border-radius: 20px;
   filter: drop-shadow(4px 4px 4px rgb(23, 23, 23));
}
.active-box{
    background-color: rgb(237, 145, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(8px 8px 8px rgb(234, 0, 27));
}
.flip{
    animation: flip 0.5s  linear;
}
.emoji{
    font-size: 3rem;
}
#at{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#restart{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 17px;
    background-color: rgb(17, 255, 0);
    box-shadow: 2px 3px 5px black;
}

@keyframes flip {
    0%{
        transform: rotatey(90deg);
    }
}



@media screen and (max-width: 540px)  {
    #container{
        width: 100vw;
    }

}
@media screen and (max-width: 515px)  {
    #container{
        width: 90vw;
    }
  .box,.active-box{
    width: 4rem;
    height: 4rem;
  }

}

